
<nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="../assets/images/logo_banner.png" alt="Dojo Logo" >
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <a href="#">The Kermits</a>
        </div>
        <div class="navbar-item">
          <a href="#">Guidelines</a>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <p class="control">Logout</p>
        </div>
      </div>
    </div>
  </nav>