
<nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="#">
        <img src="../assets/images/logo_banner.png" alt="Dojo Logo" >
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <div *ngIf = "loggedTeamName" class="navbar-item">
          <a [routerLink]="['/guide']">{{loggedTeamName}}</a>
        </div>
        <div class="navbar-item">
          <a [routerLink]="['/guide']">Guidelines</a>
        </div>
      </div>
  
      <div class="navbar-end">
        <div *ngIf = "isLoggedIn" class="navbar-item">
          <a (click)="logout()">Logout</a>
        </div>
        <div *ngIf="!isLoggedIn" class="navbar-item">
          <a [routerLink]="['/register']">Register or login</a>
        </div>
      </div>
    </div>
  </nav>