
<nav class="navbar">
    <div *ngIf="session && session.team" class="navbar-brand">
      <a class="navbar-item" [routerLink]="['/dashboard']">
        <img src="../assets/images/logo_banner.png" alt="Dojo Logo" >
      </a>
    </div>
    <div *ngIf="session && session.admin" class="navbar-brand">
        <a class="navbar-item" [routerLink]="['/dashboard', 'admin']">
          <img src="../assets/images/logo_banner.png" alt="Dojo Logo" >
        </a>
      </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <div *ngIf = "session && session.team" class="navbar-item">
          <a [routerLink]="['/profile']">{{session.team.name}}</a>
        </div>
        <div *ngIf="session && session.admin" class="navbar-item">
          <p>{{session.admin.name}}</p>
        </div>
        <div class="navbar-item">
          <a [routerLink]="['/guide']">Guidelines</a>
        </div>
      </div>
  
      <div *ngIf="session && session.isLoggedIn" class="navbar-end">
        <div class="navbar-item">
          <a (click)="logout()">Logout</a>
        </div>
      </div>
      <div *ngIf="!session || session.isLoggedIn == false" class="navbar-end">
        <div class="navbar-item">
          <a [routerLink]="['/register']">Register or login</a>
        </div>
      </div>
    </div>
  </nav>