<section class="section">
  <div class="container">
    <div class="topTitle">
      <img id="ninjaimg" src="./assets/images/ninjaComp.png" alt="Hacking ninja">
      <h2 class="title">Joined hackathons</h2>
    </div>
    <div class="box">
  
    <table class="table is-striped is-fullwidth">
        <thead>
          <th>Name</th>
          <th>Deadline</th>      
          <th>Time left</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr>
            <td>Hackathon 1</td>
            <td>September 30</td>
            <td>5 minutes</td>
            <td><button class="button is-danger is-large">Submit</button></td>
          </tr>
          <tr>
              <td>Hackathon 2</td>
              <td>September 30</td>
              <td>Two days</td>
              <td><button class="button is-dark is-small">Submit</button></td>
            </tr>
            <tr>
                <td>Hackathon 3</td>
                <td>September 30</td>
                <td>Two days</td>
                <td><button class="button is-dark is-small">Submit</button></td>
              </tr>
        </tbody>
      </table>
    </div>
    </div>
  </section>