<section class="section">
  <div class="container">
    <div class="topTitle">
      <img id="ninjaimg" src="./assets/images/ninjaComp.png" alt="Hacking ninja">
      <h2 class="title">Joined hackathons</h2>
    </div>
    <div class="box">
  
    <table *ngIf="joinedHackathons.length > 0" class="table is-striped is-fullwidth">
        <thead>
          <th>Name</th>
          <th>Deadline</th>      
          <th>Time left</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let hack of joinedHackathons">
            <td>{{hack.name}}</td>
            <td>{{hack.deadline | date: 'medium'}}</td>
            <td>{{hack.timeLeft | async}}</td>
            <td><button class="button is-danger is-large">Submit</button></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="joinedHackathons.length < 1">
        <h2 class="subtitle">You are not competing in any hackathons at the moment.</h2>
      </div>
    </div>
    </div>
  </section>

  