
.topTitle img, .topTitle h2 {
    display: inline-block;
    vertical-align: bottom;
    
}
#ninjaimg {
   width: 8%;
}
table {
    margin: 0 auto;
}
.topTitle {
    padding-bottom: 1.5rem;
}

tbody a {
    color: #06AAE2;
}

.timer {
    font-family: "Lucida Console", Monaco, monospace;
}