<app-navbar></app-navbar>
<section class="hero is-dark is-bold">
    <div class="hero-body">
      <h1 class="title">Winning project</h1>
      <h1 class="subtitle">For this particular hackathon</h1>
      
    </div>
</section>
<section class="section container">
  <div class="columns">
    <div class="column">
      <h1 class="title">The winning project's title</h1>
      <h2>The winning team</h2>
      <h2>Team member names</h2>
      <a><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>      
      <a><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
      
    </div>
    <div class="column is-two-thirds">
      <p class="is-pulled-right subtitle">A whole lotta text and stuff</p>

    </div>

  </div>

  <div class="box">

      <table class="table is-striped is-fullwidth">
          <thead>
            <th>Judge</th>
            <th>Location</th>      
            <th>UI/UX</th>
            <th>Presentation</th>
            <th>Idea</th>
            <th>Implementation</th>
            <th>Extra</th>
            <th>Total</th>
            <th>Comments</th>
          </thead>
          <tbody>
            <tr >
              <td>Bob</td>
              <td>San Jose</td>
              <td>3</td>
              <td>3</td>
              <td>4</td>
              <td>3</td>
              <td>0</td>
              <td>13</td>
              <td>I like it!</td>              
            </tr>
            <tr >
                <td>Bob</td>
                <td>San Jose</td>
                <td>3</td>
                <td>3</td>
                <td>4</td>
                <td>3</td>
                <td>0</td>
                <td>13</td>
                <td>I like it!</td>              
              </tr>
              <tr >
                  <td>Bob</td>
                  <td>San Jose</td>
                  <td>3</td>
                  <td>3</td>
                  <td>4</td>
                  <td>3</td>
                  <td>0</td>
                  <td>13</td>
                  <td>I like it!</td>              
                </tr>
    
              

          </tbody>
        </table>

  </div>

</section>