td, th {
    text-align: center;
}
h2 {
    font-size: 1.3rem;
}
a {

    color: #06AAE2; 
    margin-right: 1.2rem;
}
.desc {
    text-align: right;
}
.members {
    font-size: 0.9rem;
}
#teamName {
    margin-bottom: 1.5rem;
    font-weight: bolder;
}