<app-navbar></app-navbar>
{{projects | json}}


<section class="hero is-dark is-bold">
    <div class="hero-body">
      <div *ngIf="hackathon" class="container hackTop">
       
        <h1  class="title">{{hackathon.name}}</h1>
        <h1 class="subtitle">Completed: {{hackathon.deadline | date: 'medium'}}</h1>
      </div>
      <!-- <div *ngIf="hackathon" class="container">
        <h2 class="subtitle">
          Deadline: {{hackathon.deadline | date: 'medium'}}
        </h2>
       
      </div> -->
        
    </div>
  </section>