<app-navbar></app-navbar>

<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Coding Dojo Hackathons
      </h1>
      <h2 class="subtitle">
        Dojo vs. Dojo
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Some title goes here</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae placerat quam. Ut quis ante erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum a aliquet urna. In gravida iaculis posuere. Sed iaculis ac dui et eleifend. Cras accumsan sed sapien sed pellentesque.
    </p>
    <p>
      Morbi eget pulvinar odio, sed faucibus elit. Sed at sapien facilisis, sagittis lorem consectetur, venenatis elit. Morbi accumsan erat ac magna elementum rutrum. Fusce eu hendrerit eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum eleifend lacinia nibh non fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pulvinar efficitur augue, a vestibulum odio efficitur ac. Donec mollis sem ac ante blandit, ac vulputate nibh imperdiet. Fusce et consectetur elit.
    </p> 
    <p>
      Nunc consectetur nibh sit amet convallis tempus. Duis sed magna leo. Donec accumsan turpis lectus, nec venenatis ipsum convallis et. Nulla eget leo elementum, finibus est a, imperdiet mi. Aenean lacinia tempus justo vel dictum. Ut ac massa at magna consequat accumsan vitae et sem. Nam interdum eleifend ultrices. Duis at erat pulvinar, luctus diam vitae, scelerisque felis. Quisque pretium risus est, a consectetur diam tincidunt elementum. Proin et nisi vitae dolor semper malesuada.
    </p> 
    <p>
      Curabitur ac mattis urna, vitae vulputate lacus. Maecenas blandit dignissim ex et facilisis. Curabitur fringilla enim id tortor vulputate, nec convallis neque porta. Nam fermentum auctor nibh semper bibendum. Cras quis congue sem. Quisque vulputate libero mauris, eu congue augue placerat sit amet. Donec non velit quis nunc consequat molestie. Aenean cursus nisl ac lorem aliquet, a euismod est faucibus. Donec tincidunt ullamcorper lacus faucibus placerat. Praesent fermentum, tortor et feugiat mattis, odio dolor eleifend massa, vitae elementum diam mauris accumsan nisi.
    </p> 
    <p>
      Duis a imperdiet nunc. Donec a tincidunt urna. Ut dapibus, diam non lobortis semper, ante est posuere elit, vel pellentesque erat dui non metus. In ac ante et diam cursus sagittis. Fusce sagittis ex eu vehicula auctor. Pellentesque quis mi ac quam fringilla pellentesque vel in massa. Nam non mauris turpis. Aenean id lorem quis est vestibulum lacinia. Pellentesque magna est, pulvinar vel risus a, commodo tincidunt velit. Proin consequat tempor leo in tempor. Aenean laoreet porta vulputate. Praesent tincidunt consequat dui ac tempus.
    </p>
  </div>

</section>