

  <app-navbar></app-navbar>


<section class="topGuide hero is-dark is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to Coding Dojo Hackathons
      </h1>
      <h2 class="subtitle">
        Dojo vs. Dojo
      </h2>
    </div>
  </div>
</section>

<section class="section container">

  <h2 class="subtitle">
    In order to submit to a hackathon, please provide a link to your project on GitHub and a video showcasing your app on YouTube.
  </h2>
  <div class="box">
  <p class="guide"><span><i class="fa fa-youtube" aria-hidden="true"></i></span> Video</p>
  <p>
    Your video should quickly let the viewer know all about what your app does! Try to make your video as engaging as you would
    make a live presentation. For the judges and students at other locations who are unable to attend your live presentation,
    they will be relying on this video.
  </p>
  <hr>
  
    <div class="columns">
      <div class="column">

        <p>
          We request that you submit your YouTube url in the format <span class="linky">https://youtu.be/yourVideoId</span>.
          You can find this url in your video's info and settings, as shown here.
        </p>
      </div>
      <div class="column is-three-quarters">

        <img src="./assets/images/youtubeShot.png" alt="YouTube video settings">
      </div>
    </div>
    <div class="columns">
      <div class="column">

        <p>
          Alternatively, you can find this url when you click the Share button underneath your video when it is viewed, as shown here:
        </p>
      </div>

      <div class="column is-three-quarters">

        <img src="./assets/images/youtubeShare.png" alt="YouTube video settings">
      </div>
    </div>

  </div>


  <div class="box">
      <p class="guide"><span><i class="fa fa-github" aria-hidden="true"></i></span> GitHub</p>
     
   
    <p>
      Please provide your GitHub link! Featured here, your code will be available for other Coding Dojo students. We hope that
      you will take the opportunity to inspire and to be inspired. If you see something you like and think of a feature or
      two that could be included, fork the repo and add it in. Once you're happy with it, send a pull request to the original
      owner. Congratulations, you've just contributed to an open source project! If you receive a pull request, take a look
      at what's been sent to you and decide if it's something you would like to include in your project. Whether you choose to use the code or not, send a note to the person who sent the pull request, say hi, and let them know what you decided and why.
    </p>
  </div>
 

</section>