<app-navbar></app-navbar>
<section class="hero is-dark is-bold">
    <div class="hero-body"  *ngIf="hackathon">
      <h1 class="title">{{hackathon.name}}</h1>
      <div class="options is-pulled-right">

        <button class="button present" [routerLink]="['/watch', hackathon.id]">View presentations</button>
        <button class="button is-success black" [routerLink]="['/judge',hackathon.id,'admin']">Judge this hackathon</button>
      </div>
    </div>
</section>


<section class="section">
    
     <div class = "columns">
       <div class="column">
         
         <p>A whole lotta text. We could include more information about the hackathon here. The theme, a description provided by whomever created the hackathon.</p>
       </div>
       <div class="column is-three-quarters">
          <div *ngIf="submissions" class="box">
          
           <table class="table is-striped is-fullwidth">
             <thead>
               <th>Team</th>
               <th>Project</th>
               <th>Location</th>      
               <th>Judged by</th>
               <th>Points</th>
             </thead>
             <tbody>
               <tr *ngFor="let sub of submissions">
                 <td>{{sub.teamName}}</td>
                 <td *ngIf="sub.title"><a [routerLink]="['/score', sub.id, 'admin']"> {{sub.title}}</a></td>
                 <td *ngIf="!sub.title">Pending</td>
                 <td>{{sub.location}}</td>
                 <td>{{sub.judgedBy}}</td>
                 <td>{{sub.total}}</td>
               </tr>

             </tbody>
           </table>
         </div>
       </div>
     </div>
   
   </section>