<section class="section">
  <div class="container">
    
      <h2 class="title">Past hackathons</h2>
    
    <div class="box">
    <table class="table table-striped is-fullwidth">
      <thead>
        <th>Name</th>
        <th>Theme</th>
        <th>Winner</th>
        <th>Action</th>
      </thead>
      <tbody>
        <tr>
          <td>Hackathon A</td>
          <td>iOS</td>
          <td>The Kermits</td>
          <td><button class="button is-dark is-small">Watch</button></td>
        </tr>
        <tr>
          <td>Hackathon B</td>
          <td>MEAN stack</td>
          <td>Jesus</td>
          <td><button class="button is-dark is-small">Watch</button></td>
        </tr>
        <tr>
          <td>Hackathon C</td>
          <td>Code for good</td>
          <td>Stinky Pete</td>
          <td><button class="button is-dark is-small">Watch</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</section>