
.hero-body img, .hero-body .title {
    display: inline-block;
    vertical-align: bottom;
}
#ninjaimg {
   width: 8%;
}
table {
    margin: 0 auto;
}

.is-success {
    border-radius: 4px;
    padding: 15px;
    background: #75c575;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 75%;
}