<app-navbar></app-navbar>
<section>
    <table class="table">
        <thead>
          <th>Name</th>
          <th>Time left</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr>
            <td>Hackathon 1</td>
            <td>Two days</td>
            <td><button>Submit</button></td>
          </tr>
          <tr>
              <td>Hackathon 2</td>
              <td>Two days</td>
              <td><button>Submit</button></td>
            </tr>
            <tr>
                <td>Hackathon 3</td>
                <td>Two days</td>
                <td><button>Submit</button></td>
              </tr>
        </tbody>
      </table>
</section>
