<section class="section">
  <div class="container">
      <h2 class="title">Posted hackathons</h2>
      <div class="box">
      <table class="table is-striped is-fullwidth">
        <thead>
            <th>Name</th>
            <th>Theme</th>
            <th>Deadline</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr>
              <td>Hackathon 5</td>
              <td>iOS</td>
              <td>September 30</td>
              <td><button class="button is-small is-dark">Join</button></td>
            </tr>
            <tr>
              <td>Hackathon 6</td>
              <td>iOS</td>
              <td>September 30</td>
              <td><button class="button is-small is-dark">Join</button></td>
            </tr>
            <tr>
              <td>Hackathon 7</td>
              <td>iOS</td>
              <td>September 30</td>
              <td><button class="button is-small is-dark">Join</button></td>
            </tr>
          </tbody>
        </table>
        </div>

  </div>

</section>