<section class="section">
  <div class="container">
    <h2 class="title">Posted hackathons</h2>
    <div *ngIf="postedHackathons.length > 0" class="box">
      <table class="table is-striped is-fullwidth">
        <thead>
          <th>Name</th>
          <th>Theme</th>
          <th>Deadline</th>
          <th>Action</th>
        </thead>
        <tbody>
          <tr *ngFor="let hack of postedHackathons">
            <td><a class="button is-link" [routerLink]="['/details', hack.id]">{{hack.name}}</a></td>
            <td>{{hack.theme}}</td>
            <td>{{hack.deadline | date: 'medium'}}</td>
            <td><button class="button  is-dark" (click)="joinHackathon(hack)">Join</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="postedHackathons.length < 1" class="box">
      <h2 class="subtitle">We've run out of hackathons for you to join! Suggest one to your instructor or captain!</h2>
    </div>

  </div>

</section>