<section class="section">
  <div class="container">
      <h2 class="title">Posted hackathons</h2>
      <div *ngIf="postedHackathons.length > 0" class="box">
      <table class="table is-striped is-fullwidth">
        <thead>
            <th>Name</th>
            <th>Theme</th>
            <th>Deadline</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let hack of postedHackathons">
              <td>{{hack.name}}</td>
              <td>iOS</td>
              <td>{{hack.deadline | date: 'medium'}}</td>
              <td><button class="button is-small is-dark">Join</button></td>
            </tr>
          </tbody>
        </table>
        </div>

  </div>

</section>