<app-navbar></app-navbar>

{{submissions | json}}

{{session | json}}


<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div *ngIf="hackathon" class="container hackTop">
      <h1  class="title">{{hackathon.name}}</h1>
      <h2 class="subtitle">
        Deadline: {{hackathon.deadline | date: 'medium'}}
      </h2>
      <h2 *ngIf="hackathon.timeLeft && hackathon.timeLeft != 0" class="subtitle is-pulled-right">
        Time left to submit your entry: <span class="timer">{{hackathon.timeLeft | async}}</span>
      </h2>
    </div>
      
  </div>
</section>
<section class="section">
 
  <div class = "columns">
    <div class="column">
      
      <p>A whole lotta text. We could include more information about the hackathon here. The theme, a description provided by whomever created the hackathon.</p>
    </div>
    <div class="column is-three-quarters">
        <div *ngIf="submissionMessage">
          <p class="subtitle is-success">{{submissionMessage}}</p>
        </div>
        
        <div *ngIf="submissions" class="box">
       
        <table class="table is-striped is-fullwidth">
          <thead>
            <th>Team name</th>
            <th>Location</th>      
            <th>Submitted</th>
          </thead>
          <tbody>
            <tr *ngFor="let sub of submissions">

              
              <td>{{sub.teamName}}</td>
              <td>{{sub.teamLocation}}</td>
              <!-- someone else's project -->
              <td *ngIf="sub.projectTitle && sub.teamId!=session.team.id">{{sub.projectTitle}}</td>
              <!-- logged team's project -->
              <td *ngIf="sub.projectTitle && sub.teamId==session.team.id"><button [routerLink]="['/hackathon', 'update', sub.projectId]" class="button updateBtn">{{sub.projectTitle}}</button></td>
              <!-- waiting for someone else -->
              <td *ngIf="!sub.projectTitle && sub.teamId!=session.team.id">Pending</td>
              <!-- submit button for logged team -->
              <td *ngIf="!sub.projectTitle && sub.teamId==session.team.id"><a [routerLink]="['/entry', hackathonId]"><button class="button" >Submit your entry</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</section>
