.is-success {
    border-radius: 4px;
    padding: 15px;
    background: #75c575;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.timer {
    font-family: "Lucida Console", Monaco, monospace;
}


.hackTop h2{
    display: inline-block;
}
.updateBtn {
    background-color: #06AAE2;
}
