.is-success {
    border-radius: 4px;
    padding: 15px;
    background: #75c575;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.timer {
    font-family: "Lucida Console", Monaco, monospace;
}
.pending {
    color: gray;
    font-style: italic;
}

.sidePad {
    padding: 0 1.5rem;
}


.hackTop h1{
    display: inline-block;
    vertical-align: bottom;
}
.updateBtn {
    background-color: #06AAE2;
    color: white;
}
.realbig {
    font-size: 3rem;
}
.submitbtn {
    background-color: #FF9B42;
    color: white;
}

table td {
    vertical-align: inherit;
}