<app-navbar></app-navbar>


<section class="hero is-dark is-bold">
  <div class="hero-body">
    <div *ngIf="hackathon" class="container hackTop">
      <h1  class="title">{{hackathon.name}}</h1>
      <h1 *ngIf="!hackOver && canSubmit" class="realbig is-pulled-right timer">
          {{hackathon.timeLeft | async}}
      </h1>
    </div>
    <div *ngIf="hackathon" class="container">
      <h2 class = "subtitle is-pulled-right" *ngIf="notJoinedMessage">
          {{notJoinedMessage}}
      </h2>
      <h2 class="subtitle">
            Deadline: {{hackathon.deadline | date: 'medium'}}
      </h2>
      
    </div>
  
    
    <div *ngIf="unfoundMessage">
      <h1 class="title">{{unfoundMessage}}</h1>
    </div>
  </div>
</section>

<section *ngIf="canJoin" >
  <app-quick-join [hackathonId]="hackathonId" (markAsJoined)="getJoinedHackathon($event)"></app-quick-join>
</section>

<section *ngIf="canSubmit" class="section">
  
 
<form [formGroup]="projForm" (submit)='hackEntry()'>
  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <input class="input" [ngClass]="{'is-success':title.valid, 'is-danger': titleDanger}" type="text"  formControlName="title" placeholder="Project title" id="title">
      <span class="icon is-small is-left">
        <i class="fa fa-cubes"></i>
      </span>
      <span *ngIf="title.valid" class="icon is-small is-right">
        <i class="fa fa-check"></i>
      </span>
      <p *ngIf="titleReq" [@errorAnimation] class="help is-danger">A project title is required</p>
      <p *ngIf="titleLen" [@errorAnimation] class="help is-danger">Project titles must consist of 5 - 50 characters</p>
    </div>
  </div>

  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <input class="input" [ngClass]="{'is-success':gitUrl.valid, 'is-danger': gitDanger}" type="text" formControlName="gitUrl" placeholder="Github url" value="https://github.com/">
      <span class="icon is-small is-left">
        <i class="fa fa-github"></i>
      </span>
      <span *ngIf="gitUrl.valid" class="icon is-small is-right">
        <i class="fa fa-check"></i>
      </span>
      <p *ngIf="gitMatch" [@errorAnimation] class="help is-danger">A valid Github url is required</p>
    </div>
  </div>

  <div class="field">
    <div class="control has-icons-left has-icons-right">
      <input class="input" [ngClass]="{'is-success':vidUrl.valid, 'is-danger':vidDanger}" type="text" formControlName="vidUrl"  placeholder="Video url" value="https://youtu.be/" >
      <span class="icon is-small is-left">
        <i class="fa fa-youtube"></i>
      </span>
      <span *ngIf="vidUrl.valid" class="icon is-small is-right">
        <i class="fa fa-check"></i>
      </span>
      <p *ngIf="vidMatch" [@errorAnimation] class="help is-danger">A valid YouTube url is required</p>    
    </div>
  </div>

  <div class="field">
    <div class="control">
      <textarea class="textarea" [ngClass]="{'is-success': description.valid, 'is-danger':descDanger}" formControlName="description" placeholder="Description"></textarea>
      <p *ngIf="descLen" [@errorAnimation] class="help is-danger">A description of at least 30 characters is required</p> 
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-medium" [disabled]="!projForm.valid"><span *ngIf="update">Update project</span><span *ngIf="!update">Submit project</span></button>

    </div>
    
    <div class="control">
      <button class="button is-medium is-dark" type="button" (click)="cancel()">Cancel</button>
    </div>
  </div>
  


</form>

</section>
